body {
  background: #f0f0f0;
  overflow: hidden;
}
.modal-content{
			background-color: darkcyan;
		}
		.btn-link{
			color:white;
		}
		.modal-heading h2{
			color:#ffffff;
		}



 /* .button-7{
  width:140px;
  height:50px;
  border:2px solid #34495e;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
}
.button-7 a{
  font-family:arial;
  font-size:16px;
  color:#34495e;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-7{
  width:140px;
  height:50px;
  
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  box-sizing:border-box;
}
.button-7:hover .eff-7{
  border:70px solid #bdc3c9;
  opacity: 0.3;
}
.button-7:hover a{
  color:#fff;
}    */
.loginDiv{
  background-color: white;
  width: 500px;
  height: 500px;
  margin-left: 35%;
  margin-top: 50px;
  border-style: solid;
  border-width: 12px;
  border-radius: 15px;
  
}
/* .loginh1{
  font-size: 60px;
  text-align: center; 
  margin-top: 50px;
  margin-right: 0px; 
} */
.loginform{

  margin-left: 35px;
  font-size: 30px;
  size: 60px;
  
  
}

/* @import url(http://fonts.googleapis.com/css?family=Bitter:400,700); */

h1 {
	margin: 50px auto;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(8, 8, 8, 0.8);
	color: rgb(7, 7, 7);
	opacity: 0.4;
	font: 700 80px 'Bitter';
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
  margin-left: 100px;
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.action-button :hover {
  opacity: 0.5;
  color: #ffffff;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  
}



.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}



.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}



.circle {
  z-index: -10;
  position: absolute;
  background: rgba(160,0,0,0.2);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px 0 rgba(160,0,0,0.2);
  box-shadow: 0 0 10px 0 rgba(160,0,0,0.2);
  -webkit-animation: _ 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-animation: _ 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-animation: _ 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-animation: _ 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: _ 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@-moz-keyframes _ {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  10% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes _ {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes _ {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes _ {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  30% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}