<% include ./partials/header %>
<!-- <h1>INDEX PAGE!!</h1> -->

<% pages.forEach(function(page){ %>
    <div style="margin-top: 100px; margin-left: 30%">
        
        <h2><%= page.title %></h2>
        <img style="height: 300px; width:300px" src="<%= page.image %> ">
        <p><%= page.body %></p>
        <a href="/diary/<%=page._id %>">Read More</a>
    </div>
<% }) %>
<% include ./partials/footer %> 