<% include ./partials/NoNavheaderbootstrap %>

        

        <!-- <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>Log in</button>
        </form> -->

    <div class="container">
        <div class="col-4">
                <h1>Log In</h1>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="text" class="form-control" name="username" id="inputEmail" placeholder="username">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
            </div>
            <!-- <div class="form-group">
                <label class="form-check-label"><input type="checkbox"> Remember me</label>
            </div> -->
            <button type="submit" class="btn btn-primary">Sign in</button>

            <button type="button" class="btn btn-secondary"><a style="color:black; text-decoration:none" href="/register">Sign Up</a></button>
        </form>
    </div>
    
</div>

        
        <!-- <button type ="submit" class ="btn btn-primary"><a href="/login">Login!</a></button> -->
        <!-- <button type ="submit" class ="btn btn-primary"><a href="/logout">Log out</a></button> -->

<% include ./partials/footerbootstrap %> 