<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Diary App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body style="background: #007bff;background: linear-gradient(to right, #0062E6, #33AEFF);">
        

        <!-- <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button>Log in</button>
        </form> -->
                    <div class="container">
                        <div class="container">
                            <div class="col-lg-2 offset-lg-1" style=" margin-top: 25%;">
                                    <div class="card" style="width: 50rem;">
                                            <div class="card-body">
                                <h1>Log In</h1>
                                <form action="/login" method="POST">
                                    <div class="form-group">
                                        <label for="inputEmail">Email</label>
                                        <input type="text" class="form-control" name="username" id="inputEmail" placeholder="username">
                                        </div>
                                    <div class="form-group">
                                        <label for="inputPassword">Password</label>
                                        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
                                    </div>
                                    <button type="submit" class="btn btn-success">Sign in</button>

                                    <button type="button" class="btn btn-secondary"><a style="color:black; text-decoration:none" href="/register">Sign Up</a></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>   
        <!-- <button type ="submit" class ="btn btn-primary"><a href="/login">Login!</a></button> -->
        <!-- <button type ="submit" class ="btn btn-primary"><a href="/logout">Log out</a></button> -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </body>
        </html>
<!-- 
<div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div> -->