<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Diary App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">DIARY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/diary">Home</a>
                <li>
                <li class="nav-item">
                    <a class="nav-link" href="/diary/new">New</a>
                <li>
            <div class="btn-group">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Happy</a>
                        <a class="dropdown-item" href="#">Sad</a>
                        <a class="dropdown-item" href="#">Scary</a>
                        <a class="dropdown-item" href="#">Anger</a>
                        <!-- <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a> -->
                    </div>
            </div>         
              </ul>
              <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
          </nav>

        <!-- <div class="form-group">
            <div class = "ui huge header">New Page</div>
            
            <form class="ui form" action="/diary" method="POST">
                <div class="field">
                    <label >Title</label>
                    <input type="text" name="title" placeholder="title">
                </div>
                <div class="field">
                        <label >Image</label>
                        <input type="text" name="image" placeholder="image">
                </div>
            
                <div class="field">
                        <label >Page Content</label>
                        <textarea name="bodyy"></textarea>
                    
                </div>
                    
                <input class="ui inverted big green button" type="submit">
            
        
            
            
            </form>
        </div> -->
        <div style="margin-top:8% " class="row">
            <div class="col-lg-6 offset-lg-3 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card">
                        <div class="card-body">
                        <form action="/diary" method="POST">
                            <div class="form-group">
                            <label for="Title">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="title">
                            </div>
                            <div class="form-group">
                            <label for="Image">Image</label>
                            <input type="file" class="form-control-file" name="image">
                            </div>
                            <div class="form-group">
                            <label for="pagecontent">Page Content</label>
                            <textarea class="form-control" name="bodyy" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%include ./partials/footerbootstrap %>