<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Diary App</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>
    <body style="background: #007bff;background: linear-gradient(to right, #0062E6, #33AEFF);">

    <div class="container">
        <div class="container">
            <div class="col-lg-2 offset-lg-1" style=" margin-top: 25%;">
                <div class="card" style="width: 50rem;">
                        <div class="card-body">
                            <h1>Sign Up</h1>
                            <form action="/register" method="POST">
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="text" class="form-control" name="username"  placeholder="username">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                                <!-- <div class="form-group">
                                    <label class="form-check-label"><input type="checkbox"> Remember me</label>
                                </div> -->
                                <button type="submit" class="btn btn-success">Sign Up</button>

                                <button type="button" class="btn btn-secondary"><a style="color:black; text-decoration:none" href="/login">Sign In</a></button>
                            </form>
                        </div>    
                </div>            
            </div>
        </div>
    </div>    

        
        <!-- <button type ="submit" class ="btn btn-primary"><a href="/login">Login!</a></button> -->
        <!-- <button type ="submit" class ="btn btn-primary"><a href="/logout">Log out</a></button> -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        </body>
        </html>