<% include ./partials/header %> 
<div class="ui main text container segment">
    <div class = "ui header"><%= page.title %></div>
    <img style="height: 300px; width:300px" src="<%= page.image %> ">
    <p><%= page.body %></p>
    <a href="/diary/<%=page._id %>">Read More</a>
    
     
</div>
<%include ./partials/footer %>